<nav class="navbar navbar-expand-lg text-light shadow-sm sticky-top">
    <div class="container">
        <a class="navbar-brand text-info fw-bold" href="#"><i class="bi bi-shield-lock h5"></i> ValorVault</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link hover-grow-sm text-light" href="#">
                        <i class="bi bi-house-door"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-grow-sm text-light" href="#">
                        <i class="bi bi-list-check"></i> Tasks
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-grow-sm text-light" href="#">
                        <i class="bi bi-box-seam"></i> Inventory
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-grow-sm text-light" href="#">
                        <i class="bi bi-cart"></i> Shop
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-grow-sm text-light" href="#">
                        <i class="bi bi-question-circle"></i> Help
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-grow-sm text-light" href="#">
                        <i class="bi bi-person-plus"></i> Sign Up
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-grow-sm text-light" href="#">
                        <i class="bi bi-box-arrow-in-right"></i> Log In
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>